
<StackLayout orientation="vertical" class="dt-layout">

  <FlexboxLayout orientation="horizontal" class="hdr__">
    <Image src="res://back"   width="30" height="30" style="margin-left: 10;" stretch="aspectFill" verticalAlignment="center" (tap)="goBack()"></Image>
    <Label text="My Stress" class="headingLabel" verticalAlignment="center"></Label>
    <FlexboxLayout style="margin-right:10;" verticalAlignment="center">
      <Image src="res://stress_grey"  width="40" height="40"></Image>
    </FlexboxLayout>
  </FlexboxLayout>

  <StackLayout orientation="vertical" class="content__">
    <!-- <ScrollView class="con__" orientation="vertical" height="100%"> -->

      <StackLayout class="_space"></StackLayout>

      <Stacklayout class="_lbls">
        <Label text="Stress Level" class="_sub"></Label>
      </Stacklayout>

      <StackLayout height="500px" width="100%">
  
        <RadCartesianChart tkExampleTitle tkToggleNavButton class="chart" verticalAlignment="center">
          <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
          <LinearAxis tkCartesianVerticalAxis labelTextColor="#fff"></LinearAxis>
          <SplineSeries seriesName="Spline" tkCartesianSeries [items]="graphData" categoryProperty="Day" valueProperty="StressLevel"></SplineSeries>
          <Palette tkCartesianPalette seriesName="Spline">
            <PaletteEntry tkCartesianPaletteEntry strokeColor="#3669C9" strokeWidth="1"></PaletteEntry>
          </Palette>
        </RadCartesianChart>
      </StackLayout>
  
    <StackLayout orientation="vertical" verticalAlignment="bottom"   class="_info">
      <StackLayout orientation="vertical">
      <Label text="Why do we monitor stress?" horizontalAlignment="center"></Label>
      <Image src="res://info_blue"   width="20" height="20" horizontalAlignment="center" stretch="aspectFill"  (tap)="openInfo()"></Image>
      </StackLayout>
    </StackLayout>
  
    <FlexboxLayout orientation="horizontal" class="_actns" height="25%" >
      <StackLayout class="stackWidth"  (tap)="trackStress()">
          <Image src="res://track_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Track Stress" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="stackWidth"  (tap)="stressPlaybook()"> 
          <Image src="res://playbook_blue"  stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Playbook" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="stackWidth" (tap)="openNote()">
          <Image src="res://notebook_blue"   stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Make A Note" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
    </FlexboxLayout>
  
  </StackLayout>
  
</StackLayout>
  