
<StackLayout orientation="vertical" class="dt-layout">

  <FlexboxLayout orientation="horizontal" verticalAlignment="top" class="hdr__">
    <Image src="res://back"  width="30" height="30" style="margin-left: 10;" stretch="aspectFill" verticalAlignment="center" (tap)="goBack()"></Image>
    <Label text="My Interest" class="headingLabel" verticalAlignment="center"></Label>
    <FlexboxLayout style="margin-right:10;" verticalAlignment="center">
      <Image src="res://interest_grey" width="40" height="40"></Image>
    </FlexboxLayout>
  </FlexboxLayout>
  
  <StackLayout orientation="vertical" class="content__">
    <!-- <ScrollView class="con__" orientation="vertical" height="100%"> -->

      <StackLayout class="_space"></StackLayout>

      <Stacklayout class="_lbls">
        <Label text="Interest Level in Normal Daily Activities" class="_sub"></Label>
      </Stacklayout>
      <StackLayout height="500px" width="100%">
        <RadCartesianChart tkExampleTitle tkToggleNavButton class="chart" verticalAlignment="center">
          <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
          <LinearAxis tkCartesianVerticalAxis labelTextColor="#fff"></LinearAxis>
          <BarSeries seriesName="Bar" tkCartesianSeries [items]="graphData" categoryProperty="Day" valueProperty="InterestLevel"></BarSeries>
          <Palette tkCartesianPalette seriesName="Bar">
            <PaletteEntry tkCartesianPaletteEntry strokeColor="#3669C9" fillColor="#3669C9" strokeWidth="1"></PaletteEntry>
          </Palette>
      </RadCartesianChart>
    </StackLayout>
  
    <StackLayout orientation="vertical" verticalAlignment="bottom"  class="_info">
      <StackLayout orientation="vertical">
      <Label text="Why do we monitor interest levels?" horizontalAlignment="center"></Label>
      <Image src="res://info_blue" width="20" height="20" horizontalAlignment="center" stretch="aspectFill" (tap)="openInfo()"></Image>
      </StackLayout>
    </StackLayout>
  
  <FlexboxLayout orientation="horizontal" class="_actns" height="20%" >
    <StackLayout class="stackWidth" (tap)="trackInterest()">
      <Image src="res://track_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
        <Label text="Track Interest" class="trackLabel" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout class="stackWidth" (tap)="interestPlaybook()"> 
        <Image src="res://playbook_blue"  stretch="aspectFill" horizontalAlignment="center"></Image>
        <Label text="Playbook" class="trackLabel" horizontalAlignment="center"></Label>
    </StackLayout>
    <StackLayout class="stackWidth" (tap)="openNote()">
        <Image src="res://notebook_blue"  stretch="aspectFill" horizontalAlignment="center"></Image>
        <Label text="Make A Note" class="trackLabel" horizontalAlignment="center"></Label>
    </StackLayout>
  </FlexboxLayout>
  
  </StackLayout>
  
</StackLayout>
  