<Page loaded="loaded" height="60%">
        <StackLayout class="modal-view-style modal"  verticalAlignment="center" >
                <AbsoluteLayout height="50" width="100%" >
                  <FlexboxLayout top="0" left="0" width="100%" height="100%" alignItems="center" justifyContent="center">        
                    <label [text]="timepickerLabel" style="font-size: 20; color: #005f86;"></label>
                  </FlexboxLayout>
                  <FlexboxLayout top="0" left="0" width="100%" height="100%" alignItems="center" justifyContent="flex-end" >
                        <Image src="res://x_grey" width="50" height="50" (tap)="close()"></Image>
                  </FlexboxLayout>
                </AbsoluteLayout>
                <TimePicker (loaded)="onPickerLoaded($event)" (timeChange)="onTimeChanged($event)" verticalAlignment="center" class="m-15"></TimePicker>
                <AbsoluteLayout>
                        <Button text="Cancel" left="40"  width="120"  style="background-color: #005f86;" class="timepickerBtn" (tap)="close()"></Button>
                        <Button text="Ok" left="170" width="120" style="background-color: #005f86" class="timepickerBtn" (tap)="selectedTime()"></Button>
                </AbsoluteLayout>
        </StackLayout>
</Page>

