
<StackLayout orientation="vertical" class="dt-layout">

  <FlexboxLayout orientation="horizontal" class="hdr__">
    <Image src="res://back"  width="30" height="30" style="margin-left: 10;" stretch="aspectFill" verticalAlignment="center" (tap)="goBack()"></Image>
    <Label text="My Injury" class="headingLabel" verticalAlignment="center"></Label>
    <FlexboxLayout style="margin-right:10;" verticalAlignment="center">
      <Image src="res://injury_grey" width="40" height="40"></Image>
    </FlexboxLayout>
  </FlexboxLayout>

  <StackLayout orientation="vertical" class="content__">
    <!-- <ScrollView class="con__" orientation="vertical" height="100%"> -->

      <StackLayout class="_space"></StackLayout>

      <Stacklayout class="_lbls">
        <Label text="Injury, Headache, and Nausea" class="_subttl" style="font-weight: bold"></Label>
         <Label text="from nonexistent to mild/moderate significant" class="_subttl"></Label>
      </Stacklayout>

      <StackLayout height="480px" width="100%">
  
        <RadCartesianChart tkExampleTitle tkToggleNavButton class="chart" verticalAlignment="center">
          <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
          <LinearAxis tkCartesianVerticalAxis labelTextColor="#fff"></LinearAxis>
          <BarSeries seriesName="Bar1" tkCartesianSeries [items]="graphData1" categoryProperty="Day" valueProperty="Headache">
          </BarSeries>
          <BarSeries seriesName="Bar2" tkCartesianSeries [items]="graphData2" categoryProperty="Day" valueProperty="datumValue"></BarSeries>
          <BarSeries seriesName="Bar3" tkCartesianSeries [items]="graphData3" categoryProperty="Day" valueProperty="datumValue"></BarSeries>

          <Palette tkCartesianPalette seriesName="Bar1">
              <PaletteEntry tkCartesianPaletteEntry fillColor="#FC0D1B" strokeColor="#FC0D1B" strokeWidth="1"></PaletteEntry>
          </Palette>
          <Palette tkCartesianPalette seriesName="Bar2">
              <PaletteEntry tkCartesianPaletteEntry fillColor="#96040C" strokeColor="#96040C" strokeWidth="1"></PaletteEntry>
          </Palette>
          <Palette tkCartesianPalette seriesName="Bar3">
              <PaletteEntry tkCartesianPaletteEntry fillColor="#FD9827" strokeColor="#FD9827" strokeWidth="1"></PaletteEntry>
              
          </Palette>
      </RadCartesianChart>
      </StackLayout>

      <FlexboxLayout justifyContent="space-between" width="60%">
          <FlexboxLayout justifyContent="space-between">
  <Label text=" " width="10" height="5" style="background-color:#FC0D1B"></Label>
  <Label text="Injury" style="color:#888b8d;margin-left: 5;"></Label>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between">
                <Label text=" " width="10" height="5" style="background-color:#96040C"></Label>
                <Label text="Headache" style="color:#888b8d;margin-left: 5;"></Label>
            </FlexboxLayout>
            <FlexboxLayout justifyContent="space-between">
                <Label text=" " width="10" height="5" style="background-color:#FD9827"></Label>
                <Label text="Nausea" style="color:#888b8d;margin-left: 5;"></Label>
            </FlexboxLayout>
      </FlexboxLayout>
  
    <StackLayout orientation="vertical" verticalAlignment="bottom"   class="_info">
      <StackLayout orientation="vertical">
      <Label text="Why do we monitor injury?" horizontalAlignment="center"></Label>
      <Image src="res://info_blue" width="20" height="20" horizontalAlignment="center" stretch="aspectFill"  (tap)="openInfo()"></Image>
      </StackLayout>
    </StackLayout>
  
    <FlexboxLayout orientation="horizontal" class="_actns" height="30%" >
      <StackLayout class="stackWidth"  (tap)="trackStress()">
          <Image src="res://track_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Track Injury" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="stackWidth"  (tap)="stressPlaybook()"> 
          <Image src="res://playbook_blue" stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Playbook" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
      <StackLayout class="stackWidth" (tap)="openNote()">
          <Image src="res://notebook_blue"   stretch="aspectFill" horizontalAlignment="center"></Image>
          <Label text="Make A Note" class="trackLabel" horizontalAlignment="center"></Label>
      </StackLayout>
    </FlexboxLayout>
  
  </StackLayout>
  
</StackLayout>
  