<ScrollView>
<Page loaded="loaded" height="57%" width="90%" class="faq-modal">

  <StackLayout class="faq-modal" verticalAlignment="top">
    <FlexboxLayout justifyContent="space-between">
      <Image src="" width="20" height="20"></Image>
      <Image src="" width="20" height="20"></Image>
      <Image src="res://x_grey" width="40" height="30" (tap)="close()"></Image>
    </FlexboxLayout>

    <FlexboxLayout justifyContent="center">
      <label text="How do I upgrade to Premium?" textWrap="true" class="faqTextBold"></label>
    </FlexboxLayout>

    <FlexboxLayout>
      <label text="1. Click on menu button.(Top right)" textWrap="true" class="faqText"></label>
    </FlexboxLayout>

    <FlexboxLayout>
      <label text="2. Click on Upgrade to Premium" textWrap="true" class="faqText"></label>
    </FlexboxLayout>
    <FlexboxLayout justifyContent="center">
      <label text="OR" textWrap="true" class="faqText"></label>
    </FlexboxLayout>
    <FlexboxLayout>
      <label text="1. Click on the menu bottom (top right)" textWrap="true" class="faqText"></label>
    </FlexboxLayout>
    <FlexboxLayout>
      <label text="2. Go to Settings" textWrap="true" class="faqText"></label>
    </FlexboxLayout>
    <FlexboxLayout>
      <label text="3. Scroll down to Account Settings" textWrap="true" class="faqText"></label>
    </FlexboxLayout>
    <FlexboxLayout>
      <label text="4. Turn on Switch for Upgrade to Premium" textWrap="true" class="faqText"></label>
    </FlexboxLayout>
  </StackLayout>
  
</Page>
</ScrollView>